<div layout="row" id="sp-container">
    <md-card>
      <md-card-title>Add Service</md-card-title>
      <md-card-content>
        <form [formGroup]="addServiceForm" *ngIf="serviceCategoryList" (ngSubmit)="onSubmitForm()">
          <md-select placeholder="Service Category" formControlName="category" id="category">
            <md-option *ngFor="let category of serviceCategoryList" [value]="category._id">{{ category.name }}</md-option>
          </md-select><br/>
          <md-input-container>
            <input mdInput placeholder="Service Name" type="text" formControlName="name" id="name" required>
            <md-hint align="end" *ngIf="formErrors.name">{{ formErrors.name }}</md-hint>
          </md-input-container><br/>
          <md-input-container>
            <input mdInput placeholder="Price" type="number" step="0.01" formControlName="rate" id="rate" required>
          </md-input-container><br/>
          <md-input-container>
            <textarea mdInput placeholder="Service Description" formControlName="description" columns="1" md-maxlength="100%" rows="5"></textarea>
          </md-input-container><br/>
          <md-input-container>
            <input mdInput placeholder="Trailer" type="text" formControlName="trailer" id="trailer">
          </md-input-container><br/>


          
          <!--<div class="file-upload">
            <input id="custom-input" type="file" (change)="fileChangeListener($event)">
          </div>
          <img-cropper #cropper [image]="data" [settings]="cropperSettings" style="align-items: stretch"></img-cropper>
          <span class="result rounded" *ngIf="data.image" >
            <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
          </span> -->
         
          <div>
            <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper>
            <span class="result rounded" *ngIf="data.image" >
              <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
            </span> 
          </div>
          <div>
            <img-cropper [image]="data2" [settings]="cropperSettings"></img-cropper>
            <span class="result rounded" *ngIf="data2.image" >
              <img [src]="data2.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
            </span> 
          </div>
          <div>
            <img-cropper [image]="data3" [settings]="cropperSettings"></img-cropper>
            <span class="result rounded" *ngIf="data3.image" >
              <img [src]="data3.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
            </span> 
          </div>
          <div>
            <img-cropper [image]="data4" [settings]="cropperSettings"></img-cropper>
            <span class="result rounded" *ngIf="data4.image" >
              <img [src]="data4.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
            </span> 
          </div>
          <div>
            <img-cropper [image]="data5" [settings]="cropperSettings"></img-cropper>
            <span class="result rounded" *ngIf="data5.image" >
              <img [src]="data5.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
            </span> 
          </div>
    
          <div formGroupName="contact">
            <md-input-container>
              <input mdInput placeholder="Contact Name" type="text" formControlName="name" id="name">
              <md-hint align="end" *ngIf="contactNameError">{{ contactNameError }}</md-hint>
            </md-input-container><br/>
            <md-input-container>
              <input mdInput placeholder="Contact Phone Number" type="text" formControlName="phoneNumber" id="phoneNumber">
              <md-hint align="end" *ngIf="contactPhoneNumberError">{{ contactPhoneNumberError }}</md-hint>
            </md-input-container><br/>
            <md-input-container>
              <input mdInput placeholder="Contact Email" type="text" formControlName="email" id="email">
              <md-hint align="end" *ngIf="contactEmailError">{{ contactEmailError }}</md-hint>
            </md-input-container>
          </div>
          <md-checkbox mdInput *ngIf="controlOnline" formControlName="online" id="online">Online</md-checkbox><br/>

          <sebm-google-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
            <sebm-google-map-marker *ngIf="custom_lat && custom_lng" [latitude]="custom_lat" [longitude]="custom_lng"></sebm-google-map-marker>
            <!--<sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>-->
          </sebm-google-map>

         

          <div id="submit-container">
            <button md-raised-button type="submit" [disabled]="!addServiceForm.valid">Add Service</button>
          </div>
        </form>
      </md-card-content>
    </md-card>
</div>