<div id="sp-container">
    <md-card>
      <md-card-header>
        <img md-card-image src="assets/images/orahi_logo.png" style="margin:auto; width: 3em;height: 3em; background-color: orangered ">
      </md-card-header>
      <md-card-title>Service Provider Login</md-card-title>
      <md-card-content>
        <md-input-container>
          <input mdInput placeholder="Email" type="email">
        </md-input-container><br/>
        <md-input-container>
          <input mdInput placeholder="Password" type="password">
        </md-input-container>
        <div id="submit-container">
          <button md-raised-button>LOGIN</button>
        </div>
      </md-card-content>
      <md-card-footer>
        <a (click)=navRegister()>Have no account, Register here</a>
      </md-card-footer>
    </md-card>
</div>