<div layout="row" layout-align="center center" id="sp-container">
    <md-card>
      <md-card-header>
        <img md-card-image src="assets/images/orahi_logo.png" style="margin:auto; width: 3em;height: 3em; background-color: orangered ">
      </md-card-header>
      <md-card-title>Service Provider Registration</md-card-title>
      <md-card-content>
        <form [formGroup]="registrationForm" *ngIf="active" (ngSubmit)="onSubmitForm()">
          <md-select placeholder="Service Category" formControlName="serviceType" id="serviceType" required>
            <md-option *ngFor="let category of categoryList" [value]="category.name">{{ category.name }}</md-option>
            <md-hint align="end" *ngIf="formErrors.serviceType">{{ formErrors.serviceType }}</md-hint>
          </md-select><br/>
          <md-input-container>
            <input mdInput placeholder="Company Name" type="text" formControlName="name" id="name" required>
            <md-hint align="end" *ngIf="formErrors.name">{{ formErrors.name }}</md-hint>
          </md-input-container><br/>
          <md-input-container>
            <input mdInput placeholder="Company Email" type="email" formControlName="email" id="email" required>
            <md-hint align="end" *ngIf="formErrors.email">{{ formErrors.email }}</md-hint>
          </md-input-container><br/>
          <md-input-container>
            <input mdInput placeholder="Company License Trading Number" type="text" formControlName="sno" id="sno" required>
            <md-hint align="end" *ngIf="formErrors.sno">{{ formErrors.sno }}</md-hint>
          </md-input-container><br/>
          <md-input-container>
            <input mdInput placeholder="Company Phone Number" type="text" formControlName="contact" id="contact" required>
            <md-hint align="end" *ngIf="formErrors.contact">{{ formErrors.contact }}</md-hint>
          </md-input-container><br/>
          <md-input-container>
            <input mdInput placeholder="Password" type="password" formControlName="password" id="password" required>
            <md-hint align="end" *ngIf="formErrors.password">{{ formErrors.password }}</md-hint>
          </md-input-container><br/>
          <md-input-container>
            <input mdInput placeholder="Re-Enter Password" type="password" formControlName="confirmPassword" id="confirmPassword" required>
            <md-hint align="end" *ngIf="provePassword">{{ provePassword }}</md-hint>
          </md-input-container>
          <div id="submit-container">
            <button md-raised-button type="submit" [disabled]="!registrationForm.valid">REGISTER</button>
          </div>
        </form>
      </md-card-content>
      <md-card-footer>
        <a (click)=navLogin()>Have an account, Login here</a>
      </md-card-footer>
    </md-card>
</div>