.spacer{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

label{
    font-weight:bold;
    margin:1.5em 0;
    display:block;
}

#page-padding{
    padding: 0 1.5em 1.5em 1.5em;
}

.example-sidenav-content{
    height: 100vh;
}

.header-toolbar {
    position: fixed;
    z-index: 2;
    margin: 0;
}

