<md-toolbar color="primary">
    <button md-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
    </button>

    <span>{{title}}</span>
    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>fingerprint</md-icon>
        <span>LogOut</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>announcement</md-icon>
        <span>Issues</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </md-menu>
</md-toolbar>

<md-sidenav-container>
  <md-sidenav #sidenav mode="side" opened="true">
    <md-list dense>
      <md-list-item *ngFor="let link of navLinks">
        <img md-list-avatar class="md-list-avatar" src="{{link.image}}">
        <a md-line [routerLink]="link.link">{{link.label}}</a>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>

